<container>
  <row class="footer">
    <columns
      style="padding-top: 35px !important; padding-bottom: 17px !important; padding-right: 34px !important; padding-left: 34px !important;">
      <p style="color: #ffffff !important; font-size: 10px; text-align: center; margin: 0 !important;">AngelList Weekly
      </p>
      <p style="color: #ffffff !important; font-size: 10px; text-align: center; margin: 0 !important;">90 Gold St</p>
      <p style="color: #ffffff !important; font-size: 10px; text-align: center; margin: 0 !important;">San Francisco, CA
        94133</p>
      <p style="color: #ffffff !important; font-size: 10px; text-align: center; margin: 0 !important;"><a href="#"
          style="color: #ffffff !important; text-decoration: none !important;">Unsubscribe</a> | <a href="#"
          style="color: #ffffff !important; text-decoration: none !important;">Update Preferences</a>
      </p>
    </columns>
  </row>
</container>